.tag-input {
    position: relative;
    margin: 20px 0;
    cursor: text;
    background-color: #fff;
}
.tags-textbox{
	border:0;
	width: 300px;
	color:#555;
	font-size:15px;
	outline:none;
}