body{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
@mixin floatFun(){
    content: '.';
    display: block;
    visibility: hidden;
    clear: both;
    width: 100%;
    height: 0;
    font-size: 0;
    zoom: 1;
}
@mixin box(){
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
$blue:#108ee9;

.md-panel{
	width: 100%;
	min-width:850px;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
	height:557px;
	@include box();
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	background-color:#fff;
	position:relative;
	&.md-full-screen{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		height: 100%;
	}
	.md-menubar{
		height: 36px;
		border-bottom:1px solid #ccc;
		position:absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 11;
		&:after{
			@include floatFun()
		}
		.text-menubar{
			float:left;
			width: 50%;
			border-right:1px solid #ccc;
		}
		.panel-menubar{
			float:right;
		}
		.menu-list{
			list-style:none;
			padding: 0 5px;
			margin: 0;
			&:after{
				@include floatFun()
			}
			.menu-list-iem{
				width: 40px;
				height: 36px;
				text-align: center;
				line-height: 36px;
				cursor: pointer;
				display: block;
				float:left;
				transition: background-color .3s;
				position: relative;
				i{
					color: #999;
					transition: color .3s;
				}
				&.active,
				&:hover {
					background-color:#e9e9e9;
					i{
						color: $blue;
					}
				}
				&.span-line{
					height: 18px;
					width: 1px;
					background-color:#ccc;
					margin:9px 10px;
				}
			}
		}
	}
	.md-editor-preview{
		width: 100%;
		height: 100%;
		padding-top: 37px;
		@include box();
		&.full-editor{
			.md-editor{
				width: 100%;
			}
			.md-preview{
				width: 0%;
			}
		}
		&.full-preview{
			.md-editor{
				width: 0%;
			}
			.md-preview{
				width: 100%;
			}
		}
		&:after{
			@include floatFun();
		}
		.md-editor{
			width: 50%;
			height: 100%;
			float: left;

			transition: width .35s ease-out;
			@include box();
			textarea{
				border-style: none;
				resize: none;
				@include box();
				outline: 0;
				height: 100%;
				width: 100%;
				padding: 10px 15px 0;
				font-size:15px;
				font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
			}
		}
		.md-preview{
			width: 50%;
			height: 100%;
			overflow:auto;
			background-color:#f3f3f3;
			float: right;
			@include box();
			padding: 10px 20px;
			transition: width .35s ease-out;
			border-left:1px solid #ccc;
		}
	}
}

.markdown {
	width:100%;
  h1, h2 {
    padding-bottom: 8px;
    border-bottom: 1px dotted #ccc;
  }

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      color: #339AFF;
    }
  }

  pre {
    background-color: #e9e9e9;
    color: #555;
    border-radius: 3px;
    padding: 10px;
    max-height: 500px;
    overflow: auto;
    border: none;
    font-size: 0.9em;
    line-height: 1.33;

    code {
      font-size: inherit;
      padding: 0;

      background-color: transparent;
    }
  }

  code {
    color: #c7254e;
    background-color: #eee;
    font-size: 0.9em;
    padding: 2px 4px;
   font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif !important;
  }

  blockquote {
    margin: 0;
    padding: 5px 10px 5px 15px;
    border-left: 5px solid $blue;
    background-color: #eee;
  }

  table {
    border: 1px solid $blue;

    thead tr { background-color: #eee; }
    tbody tr {
      border-top: 1px solid $blue;
      background-color: #fff;
      // &:nth-of-type(odd) { background-color: #fff; }
      // &:nth-of-type(even) { background-color: #eee; }
    }
    th, td {
      padding: 8px;
      border-left: 1px solid $blue;
    }
  }

  hr {
    border-style: solid;
    border-color: #ccc;
  }
  p{
  	font-size: 15px;
  }
  h1{
	font-size:36px;
  }
  h2{
	font-size:30px;
  }
  h3{
	font-size:24px;
  }
  h4{
	font-size:18px;
  }
  h5{
	font-size:14px;
  }
  h6{
	font-size:12px;
  }
}



